<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
  {{ moment.locale('es')}}

  <title>{% block title %} {% endblock %} - DespachosDODA</title>
  <meta name="theme-color" content="#007bff">

</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{{url_for('index')}}">DespachoDODA</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"

      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if current_user.is_authenticated %}
    <div class="collapse navbar-collapse" id="collapsibleNavId">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        {% set navigation_bar = [
               ( url_for('index'), "index", "Despachador"),
               ( url_for('reporte'), "reporte", "Reportes"),
               ( url_for('qr_reader'), "lectorQR", "Lector QR"),
               ( url_for('errores'), "errores", "Errores"),
               ] %}

        {% set active_page = active_page %}
        {% for url, id, caption in navigation_bar %}
        <li class="nav-item {% if id == active_page %}active{% endif %}">
          <a class="nav-link" href="{{url}}">{{caption}}<span class="sr-only">(current)</span></a>
        </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

           {{ current_user.username }} 
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p>{{ current_user.first_name}} {{current_user.last_name }}</p>
            <a class="dropdown-item" href="{{ url_for('user.edit_user_profile') }}">Editar Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('user.logout')}}">Salir</a>
          </div>
        </li>
      </ul>
    </div>
    {% endif %}

  </nav>
  <div class="container" style="margin-top:10vh; min-height:90vh">

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    {% block content %} {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 small">© 2020 Copyleft.
      <p>Contacto: <a href="mailto:felipe@nogson.com">felipe@nogson.com</a>
      Licencia <a href="https://www.gnu.org/licenses/agpl-3.0.txt">AGPL.</a> <a href="https://github.com/felipenogson/DespachaDoDa">Codigo.</a>
      </p>
    </div>
    <!-- Copyright -->

  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>
