{% extends "base.html" %}
{% block content %} 
<h3>Despachando</h3>
         <div class="card">
          <article class="card-body">
          <h4 class="card-title mb-4 mt-1">Caja: {{despacho.caja}}</h4>
             <form method=POST class="needs-validation">
              <div class="form-group">
                <div class="form-row">
                  <div class="col-6">
                    <label>Cliente</label>
                    <input name="cliente" class="form-control" placeholder="Cliente" autocomplete="on" required>
                    <div class="invalid-feedback">Require nombre de cliente</div>
                  </div>
                  <div class="col-3">
                    <label>Bultos</label>
                    <input name="bultos" type="number" class="form-control" autocomplete="off">
                  </div>
                  <div class="col-3">
                    <label>Facturas</label>
                    <input name="facturas" type="number" class="form-control" autocomplete="off">
                  </div>
                </div>
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>Placas</label>
                  <input name="placas" class="form-control" autocomplete="off" placeholder="Solo Numeros y Letras" autocomplete="off">
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>Candado</label>
                  {% if despacho.sello == 'SIN CANDADO' %}
                  <input  name='sello' class="form-control disabled" id="disabledInput" placeholder="{{despacho.sello}}" disabled>
                  {% else %}
                  <input name ='sello' class="form-control"  value="{{despacho.sello[:-3]}}" autocomplete="off">
                  {% endif %}

              </div> <!-- form-group// --> 
              <div class="form-group"> 
              </div> <!-- form-group// -->  
              <div class="form-group">
                <button type="submit" name="despacho_id" value ="{{despacho.id}}"class="btn btn-primary btn-block"> Validar </button>
              </div> <!-- form-group// -->                                                           
          </form>
          </article>
          </div>


    {% endblock %}
