{% extends "base.html" %}        
{% block title %} Reporte Diario {% endblock %}
{% block content %}
         <h3>Despachos</h3>
         <table class="table">
            <thead>
              <tr>
                <th scope="col">Cliente</th>
                <th scope="col">No. Integación</th>
                <th scope="col">Caja</th>
                <th scope="col">No. Sello</th>
                <th scope="col">Hora Entrega</th>
                <th scope="col">Hora Despacho</th>
                <th scope="col">Firma chofer</th>
                <th scope="col">Información</th>
              </tr>

            </thead>
            <tbody>
              {% for despacho in despachos %}
              <tr>
                <td>{{despacho.cliente}}</td>
                <td>{{despacho.url.split('=')[-1].strip()}}</td>
                <td>{{despacho.caja}}</td>
                <td>{{despacho.sello}}</td>
                <td>{{ moment(despacho.timestamp, local=True).format('LLL') }}</td>
                <td>{{ moment(despacho.despacho_timestamp, local=True).format('LLL') }}</td>
                <td><img src="data:image/png;base64,{{base64encode(despacho.firma_chofer).decode()}}" height=100 width=100></td>
                <th><a class="btn btn-primary" href="{{despacho.url}}" role="button" target="_new">SAT</a> </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
     </div>
{% endblock %}